if TARGET_IMX8MM_EVK || TARGET_IMX8MM_DDR4_EVK

config SYS_BOARD
	default "mt_connect"

config SYS_VENDOR
	default "freescale"

config SYS_CONFIG_NAME
	default "imx8mm_evk"

config IMX_CONFIG
	default "board/freescale/mt_connect/imximage-8mm.cfg"

endif

