// SPDX-License-Identifier: GPL-2.0+
/*
* Copyright 2020 NXP
*/

/dts-v1/;

#include <dt-bindings/leds/common.h>
#include <dt-bindings/usb/pd.h>
#include "imx8mm.dtsi"

/ {
	model = "MultiTracks MT Connect";
	compatible = "fsl,imx8mm-mt-connect";
	chosen {
		stdout-path = &uart2;
	};

	aliases {
		mmc0 = &usdhc3;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0 0x80000000>;
	};

	reg_ldo_vcc: regulator-ldo-vcc {
		compatible = "regulator-fixed";
		regulator-name = "ldo_vcc_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_led>;

		led-1 {
			label = "ETH_GB_SEL";
			gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
		};

		led-2 {
			label = "LED1_GREEN";
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>;
		};

		led-3 {
			label = "LED2_GREEN";
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&gpio1 9 GPIO_ACTIVE_HIGH>;
		};

		led-4 {
			label = "LED3_GREEN";
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
		};

		led-5 {
			label = "LED4_DUAL_GREEN";
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
		};

		led-6 {
			label = "LED4_DUAL_YELLOW";
			color = <LED_COLOR_ID_YELLOW>;
			gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
		};

		led-7 {
			label = "LED5_DUAL_GREEN";
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
		};

		led-8 {
			label = "LED5_DUAL_RED";
			color = <LED_COLOR_ID_RED>;
			gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
		};
	};

	pwm-leds {
		compatible = "pwm-leds";

		led-1 {
			label = "PWM_MEMBRANE";
			function = LED_FUNCTION_STATUS;
			max-brightness = <248>;
			pwms = <&pwm1 0 50000 0>;
		};
	};
};

&A53_0 {
	cpu-supply = <&buck2_reg>;
};

&A53_1 {
	cpu-supply = <&buck2_reg>;
};

&A53_2 {
	cpu-supply = <&buck2_reg>;
};

&A53_3 {
	cpu-supply = <&buck2_reg>;
};


&fec1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_fec1>;
	pinctrl-1 = <&pinctrl_fec1_sleep>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy>;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy: ethernet-phy@1 {
			compatible = "ethernet-phy-id0022.1640",
			"ethernet-phy-ieee802.3-c22";
			pinctrl-0 = <&pinctrl_ethphy>;
			pinctrl-names = "default";
			interrupt-parent = <&gpio5>;
			interrupts = <3 IRQ_TYPE_LEVEL_LOW>;
			reg = <1>;
			reset-assert-us = <1000>;
			reset-deassert-us = <1000>;
			status = "okay";
		};
	};
};

&i2c1 {
	clock-frequency = <400000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c1>;
	pinctrl-1 = <&pinctrl_i2c1_gpio>;
	scl-gpios = <&gpio5 14 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpio5 15 GPIO_ACTIVE_HIGH>;
	status = "okay";

	pmic_rohm: pmic@4b {
		compatible = "rohm,bd71847";
		reg = <0x4b>;
		pinctrl-0 = <&pinctrl_pmic>;
		pinctrl-names = "default";
		interrupt-parent = <&gpio1>;
		interrupts = <3 IRQ_TYPE_LEVEL_LOW>;
		rohm,reset-snvs-powered;

		#clock-cells = <0>;
		clocks = <&osc_32k 0>;
		clock-output-names = "clk-32k-out";

		regulators {

			ldo1_reg: LDO1 {
				regulator-name = "LDO1";
				regulator-min-microvolt = <1620000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo2_reg: LDO2 {
				regulator-name = "LDO2";
				regulator-min-microvolt = <760000>;
				regulator-max-microvolt = <800000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck1_reg: BUCK1 {
				regulator-name = "BUCK1";
				regulator-min-microvolt = <780000>;
				regulator-max-microvolt = <850000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <1250>;
			};

			buck3_reg: BUCK3 {
				// BUCK5 in datasheet
				regulator-name = "BUCK3";
				regulator-min-microvolt = <855000>;
				regulator-max-microvolt = <980000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <1250>;
				rohm,dvs-run-voltage =  <900000>;
				rohm,dvs-idle-voltage = <900000>;
			};

			ldo4_reg: LDO4 {
				regulator-name = "LDO4";
				regulator-min-microvolt = <855000>;
				regulator-max-microvolt = <900000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck2_reg: BUCK2 {
				regulator-name = "BUCK2";
				regulator-min-microvolt = <805000>;
				regulator-max-microvolt = <950000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <1250>;
				rohm,dvs-run-voltage =  <900000>;
				rohm,dvs-idle-voltage = <900000>;
			};

			ldo3_reg: LDO3 {
				regulator-name = "LDO3";
				regulator-min-microvolt = <1710000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck5_reg: BUCK5 {
				// BUCK7 in datasheet
				regulator-name = "BUCK5";
				regulator-min-microvolt = <1650000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck6_reg: BUCK6 {
				// BUCK8 in datasheet
				regulator-name = "BUCK6";
				regulator-min-microvolt = <1140000>;
				regulator-max-microvolt = <1200000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck4_reg: BUCK4 {
				// BUCK6 in datasheet
				regulator-name = "BUCK4";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo6_reg: LDO6 {
				regulator-name = "LDO6";
				regulator-min-microvolt = <1140000>;
				regulator-max-microvolt = <1200000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};
};

&i2c2 {
	clock-frequency = <400000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c2>;
	pinctrl-1 = <&pinctrl_i2c2_gpio>;
	scl-gpios = <&gpio5 16 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpio5 17 GPIO_ACTIVE_HIGH>;
	status = "okay";

};

&gpio1 {
	gpio-line-names = "", "DPM_COPRO_EN", "", "", "", "", "ETH_GB_SEL", "",
		"LED1_GREEN", "LED2_GREEN", "LED3_GREEN", "LED4_DUAL_YELLOW", "LED5_DUAL_RED", "LED4_DUAL_GREEN", "LED5_DUAL_GREEN", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "";
};

&gpio2 {
	gpio-line-names = "", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "";
};

&gpio3 {
	gpio-line-names = "", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "";
};

&gpio4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio4>;
	gpio-line-names = "", "", "BRIDGE_RXD0", "BRIDGE_RXD1", "S_BRIDGE_RXD2", "S_BRIDGE_RXD3", "", "",
		"", "", "BRIDGE_LRCLK", "BRIDGE_BCLK", "BRIDGE_TXD0", "BRIDGE_TXD1", "S_BRIDGE_TXD2", "S_BRIDGE_TXD3",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "HP_DAC_PDN_N", "SPI2_INT", "HP_DAC_I2CFIL", "DPM_HP_DAC_LRCK";
};

&gpio5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio5>;
	gpio-line-names = "DPM_HP_DAC_BCLK", "DPM_HP_DAC_SD", "DPM_HP_DAC_MCLK", "", "", "PWM_MEMBRANE", "", "",
		"", "", "SPI2_SCK", "SPI2_MOSI", "SPI2_MISO", "SPI2_NSS", "", "",
		"DPM_I2C2_SCL", "DPM_I2C2_SDA", "", "", "DPM_I2C4_SCL", "DPM_I2C4_SDA", "", "",
		"DPM_CONSOLE_RX", "DPM_CONSOLE_TX", "DPM_DEBUG_RX", "DPM_DEBUG_TX", "", "", "", "";
};

&i2c4 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c4>;
	pinctrl-1 = <&pinctrl_i2c4_gpio>;
	scl-gpios = <&gpio5 20 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpio5 21 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&snvs_pwrkey {
	status = "okay";
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm_led>;
	status = "okay";
};

&ecspi2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2>;
	cs-gpios = <&gpio5 13 GPIO_ACTIVE_LOW>;

	spidev1: spi@0 {
		reg = <0>;
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <500000>;
	};
};

&uart2 { /* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&usbotg1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg1>;
	hnp-disable;
	srp-disable;
	adp-disable;
	samsung,picophy-pre-emp-curr-control = <3>;
	samsung,picophy-dc-vol-level-adjust = <7>;
	dr_mode = "otg";
	usb-role-switch;
	role-switch-default-mode = "host";
	disable-over-current;
	status = "okay";
};

&usbotg2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg2>;
	hnp-disable;
	srp-disable;
	adp-disable;
	samsung,picophy-pre-emp-curr-control = <3>;
	samsung,picophy-dc-vol-level-adjust = <7>;
	dr_mode = "otg";
	usb-role-switch;
	role-switch-default-mode = "host";
	disable-over-current;
	status = "okay";
};

&usdhc3 {
	assigned-clocks = <&clk IMX8MM_CLK_USDHC3_ROOT>;
	assigned-clock-rates = <400000000>;
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc3>;
	pinctrl-1 = <&pinctrl_usdhc3_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc3_200mhz>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "okay";
};

&flexspi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexspi>;
	status = "okay";

	flash@0 {
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		spi-max-frequency = <80000000>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
	};
};

&iomuxc {
	pinctrl_fec1: fec1grp {
		fsl,pins =
		<MX8MM_IOMUXC_ENET_MDC_ENET1_MDC		0x3>,
		<MX8MM_IOMUXC_ENET_MDIO_ENET1_MDIO		0x3>,
		<MX8MM_IOMUXC_ENET_RD0_ENET1_RGMII_RD0	0x91>,
		<MX8MM_IOMUXC_ENET_RD1_ENET1_RGMII_RD1	0x91>,
		<MX8MM_IOMUXC_ENET_RD2_ENET1_RGMII_RD2	0x91>,
		<MX8MM_IOMUXC_ENET_RD3_ENET1_RGMII_RD3	0x91>,
		<MX8MM_IOMUXC_ENET_RXC_ENET1_RGMII_RXC	0x91>,
		<MX8MM_IOMUXC_ENET_RX_CTL_ENET1_RGMII_RX_CTL	0x91>,
		<MX8MM_IOMUXC_ENET_TD0_ENET1_RGMII_TD0	0x1f>,
		<MX8MM_IOMUXC_ENET_TD1_ENET1_RGMII_TD1	0x1f>,
		<MX8MM_IOMUXC_ENET_TD2_ENET1_RGMII_TD2	0x1f>,
		<MX8MM_IOMUXC_ENET_TD3_ENET1_RGMII_TD3	0x1f>,
		<MX8MM_IOMUXC_ENET_TXC_ENET1_RGMII_TXC	0x1f>,
		<MX8MM_IOMUXC_ENET_TX_CTL_ENET1_RGMII_TX_CTL	0x1f>;
	};

	pinctrl_fec1_sleep: fec1-sleepgrp {
		fsl,pins =
		<MX8MM_IOMUXC_ENET_MDC_ENET1_MDC		0x3>,
		<MX8MM_IOMUXC_ENET_MDIO_ENET1_MDIO		0x3>,
		<MX8MM_IOMUXC_ENET_RD0_ENET1_RGMII_RD0	0x91>,
		<MX8MM_IOMUXC_ENET_RD1_ENET1_RGMII_RD1	0x91>,
		<MX8MM_IOMUXC_ENET_RD2_ENET1_RGMII_RD2	0x91>,
		<MX8MM_IOMUXC_ENET_RD3_ENET1_RGMII_RD3	0x91>,
		<MX8MM_IOMUXC_ENET_RXC_ENET1_RGMII_RXC	0x91>,
		<MX8MM_IOMUXC_ENET_RX_CTL_ENET1_RGMII_RX_CTL	0x91>,
		<MX8MM_IOMUXC_ENET_TD0_GPIO1_IO21		0x1f>,
		<MX8MM_IOMUXC_ENET_TD1_GPIO1_IO20		0x1f>,
		<MX8MM_IOMUXC_ENET_TD2_GPIO1_IO19		0x1f>,
		<MX8MM_IOMUXC_ENET_TD3_GPIO1_IO18		0x1f>,
		<MX8MM_IOMUXC_ENET_TXC_GPIO1_IO23		0x1f>,
		<MX8MM_IOMUXC_ENET_TX_CTL_GPIO1_IO22		0x1f>;
	};

	pinctrl_ethphy: dhcom-ethphy-grp {
		fsl,pins = <
		MX8MM_IOMUXC_SPDIF_TX_GPIO5_IO3		0x1c4
		MX8MM_IOMUXC_SPDIF_RX_GPIO5_IO4		0x1c4
		>;
	};

	pinctrl_ir: irgrp {
		fsl,pins = <
		MX8MM_IOMUXC_GPIO1_IO13_GPIO1_IO13		0x4f
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
		MX8MM_IOMUXC_I2C1_SCL_I2C1_SCL		0x400001c3
		MX8MM_IOMUXC_I2C1_SDA_I2C1_SDA		0x400001c3
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
		MX8MM_IOMUXC_I2C2_SCL_I2C2_SCL		0x400001c3
		MX8MM_IOMUXC_I2C2_SDA_I2C2_SDA		0x400001c3
		>;
	};

	pinctrl_i2c4: i2c4grp {
		fsl,pins = <
		MX8MM_IOMUXC_I2C4_SCL_I2C4_SCL		0x400001c3
		MX8MM_IOMUXC_I2C4_SDA_I2C4_SDA		0x400001c3
		>;
	};

	pinctrl_i2c1_gpio: i2c1-gpiogrp {
		fsl,pins = <
		MX8MM_IOMUXC_I2C1_SCL_GPIO5_IO14		0x1c3
		MX8MM_IOMUXC_I2C1_SDA_GPIO5_IO15		0x1c3
		>;
	};

	pinctrl_i2c2_gpio: i2c2-gpiogrp {
		fsl,pins = <
		MX8MM_IOMUXC_I2C2_SCL_GPIO5_IO16		0x1c3
		MX8MM_IOMUXC_I2C2_SDA_GPIO5_IO17		0x1c3
		>;
	};

	pinctrl_i2c4_gpio: i2c4-gpiogrp {
		fsl,pins = <
		MX8MM_IOMUXC_I2C4_SCL_GPIO5_IO20		0x1c3
		MX8MM_IOMUXC_I2C4_SDA_GPIO5_IO21		0x1c3
		>;
	};

	pinctrl_pdm: pdmgrp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI5_MCLK_SAI5_MCLK	0xd6
			MX8MM_IOMUXC_SAI5_RXC_PDM_CLK		0xd6
			MX8MM_IOMUXC_SAI5_RXFS_SAI5_RX_SYNC	0xd6
			MX8MM_IOMUXC_SAI5_RXD0_PDM_DATA0	0xd6
			MX8MM_IOMUXC_SAI5_RXD1_PDM_DATA1	0xd6
			MX8MM_IOMUXC_SAI5_RXD2_PDM_DATA2	0xd6
			MX8MM_IOMUXC_SAI5_RXD3_PDM_DATA3	0xd6
		>;
	};

	pinctrl_pdm: pdmgrp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI5_MCLK_SAI5_MCLK	0xd6
			MX8MM_IOMUXC_SAI5_RXC_PDM_CLK		0xd6
			MX8MM_IOMUXC_SAI5_RXFS_SAI5_RX_SYNC	0xd6
			MX8MM_IOMUXC_SAI5_RXD0_PDM_DATA0	0xd6
			MX8MM_IOMUXC_SAI5_RXD1_PDM_DATA1	0xd6
			MX8MM_IOMUXC_SAI5_RXD2_PDM_DATA2	0xd6
			MX8MM_IOMUXC_SAI5_RXD3_PDM_DATA3	0xd6
		>;
	};

	pinctrl_pmic: pmicirqgrp {
		fsl,pins = <
		MX8MM_IOMUXC_GPIO1_IO03_GPIO1_IO3		0x141
		>;
	};

	pinctrl_gpio4: gpio4grp {
		fsl,pins = <
		MX8MM_IOMUXC_SAI3_RXFS_GPIO4_IO28		0x06 /* HP_DAC_PDN */
		MX8MM_IOMUXC_SAI3_RXD_GPIO4_IO30		0x06 /* HP_DAC_I2C_FIL */
		MX8MM_IOMUXC_SAI3_TXFS_GPIO4_IO31		0x26 /* DPM_HP_DAC_LRCK */
		>;
	};

	pinctrl_gpio5: gpio5grp {
		fsl,pins = <
		MX8MM_IOMUXC_SAI3_TXC_GPIO5_IO0			0x26 /* DANTE_OSC_BICK */
		MX8MM_IOMUXC_SAI3_MCLK_GPIO5_IO2		0x26 /* DANTE_OSC_MCLK */
		MX8MM_IOMUXC_SAI3_TXD_GPIO5_IO1			0x06 /* DPM_HP_DAC_SD */
		>;
	};

	pinctrl_typec1: typec1grp {
		fsl,pins = <
		MX8MM_IOMUXC_SD1_STROBE_GPIO2_IO11		0x159
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
		MX8MM_IOMUXC_UART2_RXD_UART2_DCE_RX		0x140
		MX8MM_IOMUXC_UART2_TXD_UART2_DCE_TX		0x140
		>;
	};

	pinctrl_ecspi2: ecspi2grp {
		fsl,pins = <
		MX8MM_IOMUXC_ECSPI2_MISO_ECSPI2_MISO		0x82
		MX8MM_IOMUXC_ECSPI2_MOSI_ECSPI2_MOSI		0x82
		MX8MM_IOMUXC_ECSPI2_SCLK_ECSPI2_SCLK		0x82
		MX8MM_IOMUXC_ECSPI2_SS0_ECSPI2_SS0		0x82
		MX8MM_IOMUXC_ECSPI2_SS0_GPIO5_IO13		0x140 /* ECSPI2 NSS */
		MX8MM_IOMUXC_SAI3_RXC_GPIO4_IO29		0x82 /* ECSPI2 INT */
		>;
	};

	pinctrl_usdhc3: usdhc3grp {
		fsl,pins = <
		MX8MM_IOMUXC_NAND_WE_B_USDHC3_CLK		0x190
		MX8MM_IOMUXC_NAND_WP_B_USDHC3_CMD		0x1d0
		MX8MM_IOMUXC_NAND_DATA04_USDHC3_DATA0		0x1d0
		MX8MM_IOMUXC_NAND_DATA05_USDHC3_DATA1		0x1d0
		MX8MM_IOMUXC_NAND_DATA06_USDHC3_DATA2		0x1d0
		MX8MM_IOMUXC_NAND_DATA06_USDHC3_DATA2		0x1d0
		MX8MM_IOMUXC_NAND_DATA07_USDHC3_DATA3		0x1d0
		MX8MM_IOMUXC_NAND_RE_B_USDHC3_DATA4		0x1d0
		MX8MM_IOMUXC_NAND_CE2_B_USDHC3_DATA5		0x1d0
		MX8MM_IOMUXC_NAND_CE3_B_USDHC3_DATA6		0x1d0
		MX8MM_IOMUXC_NAND_CLE_USDHC3_DATA7		0x1d0
		MX8MM_IOMUXC_NAND_CE1_B_USDHC3_STROBE		0x190
		>;
	};

	pinctrl_usdhc3_100mhz: usdhc3-100mhzgrp {
		fsl,pins = <
		MX8MM_IOMUXC_NAND_WE_B_USDHC3_CLK		0x194
		MX8MM_IOMUXC_NAND_WP_B_USDHC3_CMD		0x1d4
		MX8MM_IOMUXC_NAND_DATA04_USDHC3_DATA0		0x1d4
		MX8MM_IOMUXC_NAND_DATA05_USDHC3_DATA1		0x1d4
		MX8MM_IOMUXC_NAND_DATA06_USDHC3_DATA2		0x1d4
		MX8MM_IOMUXC_NAND_DATA07_USDHC3_DATA3		0x1d4
		MX8MM_IOMUXC_NAND_RE_B_USDHC3_DATA4		0x1d4
		MX8MM_IOMUXC_NAND_CE2_B_USDHC3_DATA5		0x1d4
		MX8MM_IOMUXC_NAND_CE3_B_USDHC3_DATA6		0x1d4
		MX8MM_IOMUXC_NAND_CLE_USDHC3_DATA7		0x1d4
		MX8MM_IOMUXC_NAND_CE1_B_USDHC3_STROBE		0x194
		>;
	};

	pinctrl_usdhc3_200mhz: usdhc3-200mhzgrp {
		fsl,pins = <
		MX8MM_IOMUXC_NAND_WE_B_USDHC3_CLK		0x196
		MX8MM_IOMUXC_NAND_WP_B_USDHC3_CMD		0x1d6
		MX8MM_IOMUXC_NAND_DATA04_USDHC3_DATA0		0x1d6
		MX8MM_IOMUXC_NAND_DATA05_USDHC3_DATA1		0x1d6
		MX8MM_IOMUXC_NAND_DATA06_USDHC3_DATA2		0x1d6
		MX8MM_IOMUXC_NAND_DATA07_USDHC3_DATA3		0x1d6
		MX8MM_IOMUXC_NAND_RE_B_USDHC3_DATA4		0x1d6
		MX8MM_IOMUXC_NAND_CE2_B_USDHC3_DATA5		0x1d6
		MX8MM_IOMUXC_NAND_CE3_B_USDHC3_DATA6		0x1d6
		MX8MM_IOMUXC_NAND_CLE_USDHC3_DATA7		0x1d6
		MX8MM_IOMUXC_NAND_CE1_B_USDHC3_STROBE		0x196
		>;
	};

	pinctrl_wdog: wdoggrp {
		fsl,pins = <
		MX8MM_IOMUXC_GPIO1_IO02_WDOG1_WDOG_B		0x166
		>;
	};

	pinctrl_backlight: backlightgrp {
		fsl,pins = <
		MX8MM_IOMUXC_GPIO1_IO01_PWM1_OUT		0x06
		>;
	};

	pinctrl_pwm_led: pwmledgrp {
		fsl,pins = <
		MX8MM_IOMUXC_SPDIF_EXT_CLK_PWM1_OUT	0x16
		>;
	};

	pinctrl_pwm_led: pwmledgrp {
		fsl,pins = <
		MX8MM_IOMUXC_SPDIF_EXT_CLK_PWM1_OUT	0x16
		>;
	};

	pinctrl_gpio_led: gpio-led-grp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO11_GPIO1_IO11		0x186
		>;
	};

	pinctrl_usbotg1: gpio-usbotg1-grp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO10_GPIO1_IO10		0x06
		>;
	};

	pinctrl_usbotg2: gpio-usbotg2-grp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO11_GPIO1_IO11		0x06
		>;
	};

	pinctrl_flexspi: flexspigrp {
		fsl,pins = <
		MX8MM_IOMUXC_NAND_ALE_QSPI_A_SCLK		0x1c2
		MX8MM_IOMUXC_NAND_CE0_B_QSPI_A_SS0_B		0x82
		MX8MM_IOMUXC_NAND_DATA00_QSPI_A_DATA0		0x82
		MX8MM_IOMUXC_NAND_DATA01_QSPI_A_DATA1		0x82
		MX8MM_IOMUXC_NAND_DATA02_QSPI_A_DATA2		0x82
		MX8MM_IOMUXC_NAND_DATA03_QSPI_A_DATA3		0x82
		>;
	};
};
